@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
/* AQUI MODIFICAREMOS EL HEADER */
header {
  width: 100%;
  height: 20vh;
}
header .container-fluid .collapse .fuentes {
  font-weight: 600;
  font-size: 1.5rem;
  color: #001489;
}
header .container-fluid .collapse .fuentes li a {
  color: #001489;
}
header .container-fluid .collapse .fuentes li a:hover {
  color: #ec1c23;
}

footer {
  color: white;
  background-color: #001489;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
}

.logo {
  width: 9rem;
}

.carousel-section {
  padding: 0;
}
.carousel-section div {
  background-color: #001489;
  font-weight: bolder;
  border: 1px white solid;
  border-radius: 0.5rem;
}
.carousel-section div .carousel-indicators {
  background-color: #FFD700;
}
.carousel-section div .carousel-indicators .active {
  background-color: #ec1c23;
}
.carousel-section div .carousel-inner .carousel-item .imgCarousel {
  width: 100vw;
  height: 78vh;
  object-fit: cover;
}
.carousel-section div .carousel-inner .carousel-item .carousel-caption h2 {
  font-weight: bolder;
}
.carousel-section div .carousel-inner .carousel-item .carousel-caption p {
  font-weight: bold;
}

.carousel-indicators button {
  width: 100px;
  height: 100px;
  border-radius: 0%;
  background-color: #eeff00;
  border: none;
  margin: 0 5px;
}

/* .carousel-indicators .active {
    background-color: #001489;
} */
.last-video-home {
  background-color: red;
  border: 0.1rem solid rgb(170, 170, 170);
  border-radius: 0.5rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding: 2rem 2rem;
}
.last-video-home .last-video-title {
  margin-bottom: 2rem;
}
.last-video-home .last-video-title a h2 {
  font-size: 3rem;
  color: #ec1c23;
  font-weight: 700;
}
.last-video-home .last-video-title a h2:hover {
  color: #FFD700;
  font-weight: bolder;
}
.last-video-home .card-container .card {
  border: 0.12rem solid white;
  background-color: #001489;
}
.last-video-home .card-container .card a {
  text-decoration: none;
  border-radius: 0.2rem;
}
.last-video-home .card-container .card a div {
  color: white;
  font-weight: bolder;
}
.last-video-home .card-container .card:hover {
  border: 0.12rem solid #FFD700;
}
.last-video-home .card-container .card:hover a div {
  color: #FFD700;
}
.last-video-home .imgLatestVideo {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.lastVideos-container .LastVideos-header {
  height: 75vh;
  width: 100%;
  background-color: #0d6efd;
  /* 
  background: linear-gradient(to right bottom, $color-azul-principal,$color-azul-secundario); */
  background-image: url(https://www.chelseafc.com/assets/1.0.0.28212/5cadcadc5d33ee1441f2.png);
  padding: 0;
}
.lastVideos-container .lastVideos-page {
  position: relative;
  top: -27rem;
}
.lastVideos-container .lastVideos-page div h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  color: white;
}
.lastVideos-container .lastVideos-page .card-container .card {
  border: 0.125rem solid white;
  background-color: #001489;
}
.lastVideos-container .lastVideos-page .card-container .card a {
  text-decoration: none;
  border-radius: 0.2rem;
}
.lastVideos-container .lastVideos-page .card-container .card a div {
  color: white;
  font-weight: bolder;
}
.lastVideos-container .lastVideos-page .card-container .card a .imgLatestVideo {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
.lastVideos-container .lastVideos-page .card-container .card:hover {
  border: 0.125rem solid #FFD700;
}
.lastVideos-container .lastVideos-page .card-container .card:hover a div {
  color: #FFD700;
}
.lastVideos-container .load-more-button {
  margin-top: 5rem;
  position: relative;
  top: -25rem;
}
.lastVideos-container .load-more-button button {
  background-color: #ffd700;
  color: #001489;
  font-weight: bolder;
  border: 0.125rem #001489 solid;
}
.lastVideos-container .load-more-button button:hover {
  background-color: #ffae00;
}

.sponsorSection {
  background-color: white;
  /* border-top: 2px solid rgb(170, 170, 170);
  border-bottom: 2px solid rgb(170, 170, 170); */
  /*     border: 2px solid rgb(170, 170, 170); */
}

.hero {
  background-color: red;
  width: 100%;
  height: 75vh;
  background-image: url(https://www.chelseafc.com/assets/1.0.0.28212/5cadcadc5d33ee1441f2.png);
}

/* .playerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
} */
/* .playerBox .playerImage img {
    width: 150px;
    height: 240px;
}
 */
/* .playerBox.playerName {
    display: flex;
    justify-content: center;
    align-items: center;

} */
/* .playerBox .playerName button {
    color: white;
    width: 200px;
    height: 40px;
    background-color: #001489;
} */
/* main .mainHeader {
    color: #001489;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* 
main .keepersYCoach {
    display: flex;
    justify-content: space-evenly;
} */
/* main .keepersYCoach .keepers .keepersHeader {
    display: flex;
    justify-content: center;
    color: #001489;
    padding-bottom: 20px;
} */
/* 
main .keepersYCoach .keepers .keepersContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

} */
/* main .keepersYCoach .coachHeader {
    display: flex;
    justify-content: center;
    color: #001489;
    padding-bottom: 20px;
} */
/* main .keepersYCoach .coach {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
/* DEFENDERS SECTION */
/* .section .playerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main .forwards {
    padding-bottom: 100px;
}
 */

/*# sourceMappingURL=estilos.css.map */
