@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


/* REINICAR SISTEMA */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONFIGURACIONES GENERALES */

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}


/* AQUI MODIFICAREMOS EL HEADER */

.logo {
    width: 10rem;
}

.fuentes {
    font-weight: bolder;
    font-size: 1.5rem;
    color: #001489;
    padding: 2rem;
}

.fuentes li a:hover {
    background-color: rgb(69, 69, 85);
    color: white;
}


/* AQUI MODIFICAREMOS EL FOOTER */
footer {
    color: white;
    background-color: #001489;
}

.iconFooter {
    width: 2px;
}



/* AQUI EMPIEZA EL DISEÑO DEL MAIN */

/* CARRUSEL SECTION */
.carousel-indicators button {
    width: 100px;
    height: 100px;
    border-radius: 0%;
    background-color: #eeff00;
    border: none;
    margin: 0 5px;
}

.carousel-indicators .active {
    background-color: #001489;
}

.carousel-indicators {
    background-color: #FFD700;
}

.imgCarousel {
    width: 100vw;
    height: 75vh;
    object-fit: cover
}


/* LASTVIDEOS SECTION */
.lastVideos {
    border: 0.1rem solid rgb(170, 170, 170);
    ;
    border-radius: 0.5rem;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 2rem 2rem;

}

.imgLatestVideo {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.LastVideos-header {
    height: 75vh;
    background-image: url(https://img.chelseafc.com/image/upload/f_auto,c_fill,g_faces,h_540,w_1600,q_90/Background%20Patterns/04447_ReplatformWebsiteHeader_V235.jpg);

}

.lastVideos-page {
    position: relative;
    top: -30rem;
    display: grid;
}

.lastVideos-page div h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight:bolder;
    color: white;
}
.lastVideos-container div button{
    position: relative;
    top: -25rem;
}
.subtituloHomeLastVideo{
    font-size: 3rem;
    font-weight: bolder;
}


/* NEXT FEATURES SECTION */

/* POR MODIFICAR */

.featuresBox {
    background-color: rgb(145, 150, 179);
    border: 4px solid rgb(218, 184, 18);
    color: white;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextFeaturesSection {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.nextFeaturesSection .features .nextFeaturesSectionBackground {
    position: absolute;
}

.nextFeaturesSection .nextFeaturesHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.nextFeaturesSection .nextFeaturesHeader .sectionCategories {
    padding-top: 5px;
    gap: 5px;
    display: flex;
    justify-content: center;
}

.nextFeaturesSection .featuresContainer {

    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nextFeaturesSection .featuresContainer .featuresBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nextFeaturesSection .featuresContainer .featuresBox .feat {

    display: flex;
    gap: 10px;
}

/* SPONSOR SECTION*/


.sponsorSection {
    border-top: 2px solid rgb(170, 170, 170);
    border-bottom: 2px solid rgb(170, 170, 170);
}


/* BUY TICKETS HTML  */
/* SECTION MEN FEATURES */

main .menFeatures {
    padding: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    height: 300px;
}

main .menFeatures .menFeaturesHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #001489;
    padding-bottom: 50px;

}

main .menFeatures .menFeaturesContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menFeaturesContainer .featuresBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

main .menFeatures .menFeaturesContainer .featuresBox .feat {

    display: flex;
    gap: 10px;
}

main .latestVideoSectionBtickest {
    padding-top: 50px;
    border-top: 2px solid rgb(169, 169, 169);
}



/* SECTION CHELSEA MEN SQUAD */
/* TARJETA DE JUGADORES */

.playerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.playerBox .playerImage img {
    width: 150px;
    height: 240px;
}

.playerBox.playerName {
    display: flex;
    justify-content: center;
    align-items: center;

}

.playerBox .playerName button {
    color: white;
    width: 200px;
    height: 40px;
    background-color: #001489;
}



/* KEEPERS AND COACH SECTION */

main .mainHeader {
    color: #001489;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .keepersYCoach {
    display: flex;
    justify-content: space-evenly;
}



main .keepersYCoach .keepers .keepersHeader {
    display: flex;
    justify-content: center;
    color: #001489;
    padding-bottom: 20px;
}

main .keepersYCoach .keepers .keepersContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

main .keepersYCoach .coachHeader {
    display: flex;
    justify-content: center;
    color: #001489;
    padding-bottom: 20px;
}

main .keepersYCoach .coach {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* DEFENDERS SECTION */

.section .playerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main .forwards {
    padding-bottom: 100px;
}

/* CARD */

.card {
    background-color: #ffffff;
    color: white;
    font-weight: bolder;
    border-color: none;
    border: 0;
}

.card-body {
    background-color: #FFD700;
    border-radius: 0.2rem;
}

.card-text {
    font-size: 1rem;
    ;
}