.carousel-section {
    padding: 0;
    div {
        background-color: $color-azul-principal;
        font-weight: bolder;
        border: 1px white solid;
        border-radius: 0.5rem;

        .carousel-indicators {
            background-color:$color-amarillo-prinicipal;

            .active{
                background-color:$color-rojo-principal

            }

        }

        .carousel-inner {
            .carousel-item{
                .imgCarousel {
                    width: 100vw;
                    height: 78vh;
                    object-fit: cover
                }
                .carousel-caption{
                    h2{
                    
                        font-weight: bolder;
                    }
                    p{
                        font-weight: bold;
                                             
                    }
                }


            }
        }
    }
}





.carousel-indicators button {
    width: 100px;
    height: 100px;
    border-radius: 0%;
    background-color: #eeff00;
    border: none;
    margin: 0 5px;
}

/* .carousel-indicators .active {
    background-color: #001489;
} */