/* AQUI MODIFICAREMOS EL HEADER */



header{
    div{
        a{
            .logo {
                width: 10rem;
            }
        }

        nav{
            .fuentes{
                background-color: fafafa;


            }
        }
    }




}


.fuentes {
    font-weight: bolder;
    font-size: 1.5rem;
    color: #001489;
    padding: 2rem;
}




