/* VARIABLES DE COLORES */


$color-azul-principal: #001489;
$color-amarillo-prinicipal: #FFD700;
$color-label: #FFD700;
$color-boton-principal:#0d6efd;
$color-boton-secundario:#001489;
$color-fuente-principal:#001489;
$color-fuente-secundario:#0d6efd;
$color-azul-secundario:#0d6efd;
$color-azul-terciario:#000e73;
$color-rojo-principal:#ec1c23;
$color-boton-principal:#ffd700;
$color-boton-secundario:#ffae00;
$color-background-hover:#03f;
$color-background-hover2:#bb2e7e;


/* VARIABLES DE FONTS */

$fuente-secundaria: 'Libre Baskerville', serif;
$fuente-principal: 'Roboto', sans-serif;
$fuente-titulo1: 'Tilt Prism', cursive;
