$color-azul-principal: #001489;
$color-amarillo-prinicipal: #FFD700;
$color-label: #FFD700;
$color-boton-principal:#0d6efd;
$color-boton-secundario:#001489;
$color-fuente-principal:#001489;
$color-fuente-secundario:#0d6efd;
$color-azul-secundario:#0d6efd;
$color-rojo-principal:#ec1c23;
$color-boton-principal:#ffd700;
$color-boton-secundario:#ffae00;

